In [204]:
# Import the pandas library
import pandas as pd

In [205]:
# Load the dataset from a CSV file into a DataFrame
anime_df = pd.read_csv("C:/Users/dheni/Downloads/animes.csv")
anime_df.head(5)

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,8.82
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,8.83
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,8.83
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.23
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,8.83

In [206]:
# Initial information about the dataset
print("Intial Dataset Info:")
anime_df.info()

Intial Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19311 entries, 0 to 19310
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   uid         19311 non-null  int64
 1   title       19311 non-null  object
 2   synopsis    18336 non-null  object
 3   genre       19311 non-null  object
 4   aired       19311 non-null  object
 5   episodes    18605 non-null  float64
 6   members     19311 non-null  int64
 7   popularity  19311 non-null  int64
 8   ranked      16099 non-null  float64
 9   score       18732 non-null  float64
dtypes: float64(3), int64(3), object(4)
memory usage: 1.5+ MB

In [207]:
# Drop rows with missing values
anime_df.dropna(subset=['ranked', 'score'], inplace=True)

In [208]:
# Fill missing values
anime_df['episodes'].fillna(0, inplace=True)
anime_df['synopsis'].fillna('No description available', inplace=True)
anime_df.shape #(number of rows and columns)

(16099, 10)

In [209]:
# Remove duplicate rows
anime_df.drop_duplicates(subset=['title','uid'], inplace=True)
anime_df.shape

(14553, 10)

In [210]:
# Convert the column to numeric, coercing errors to NaN
anime_df['score'] = pd.to_numeric(anime_df['score'], errors='coerce') 
anime_df['score'] = (anime_df['score'] * 2).round() / 2 # Round the 'score' values to the nearest 0.5
anime_df

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25.0,489888,141,25.0,9.0
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22.0,995473,28,24.0,9.0
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13.0,581663,98,23.0,9.0
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64.0,1615084,4,1.0,9.0
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1.0,214621,502,22.0,9.0
...,...,...,...,...,...,...,...,...,...,...
19002,10075,Naruto x UT,All-new animation offered throughout UNIQLO cl...,"['Action', 'Comedy', 'Super Power', 'Martial A...","Jan 1, 2011",1.0,34155,2382,1728.0,7.5
19003,35828,Miira no Kaikata,High school student Sora Kashiwagi is accustom...,"['Slice of Life', 'Comedy', 'Supernatural']","Jan 12, 2018 to Mar 30, 2018",12.0,61459,1648,1727.0,7.5
19004,10378,Shinryaku!? Ika Musume,"After regaining her squid-like abilities, Ika ...","['Slice of Life', 'Comedy', 'Shounen']","Sep 27, 2011 to Dec 25, 2011",12.0,67422,1547,1548.0,7.5
19005,33082,Kingsglaive: Final Fantasy XV,"For years, the Niflheim Empire and the kingdom...",['Action'],"Jul 9, 2016",1.0,41077,2154,1544.0,7.5
19006,16934,Chuunibyou demo Koi ga Shitai!: Kirameki no......,Although Yuuta Togashi and Rikka Takanashi hav...,"['Comedy', 'Drama', 'Romance', 'School', 'Slic...","Jun 19, 2013",1.0,128400,883,1533.0,7.5

In [211]:
# Convert the columns to numeric, coercing errors to NaN, fill NaN with 0, and convert float to integer type
anime_df['ranked'] = pd.to_numeric(anime_df['ranked'], errors='coerce').fillna(0).astype(int)
anime_df['episodes'] = pd.to_numeric(anime_df['episodes'], errors='coerce').fillna(0).astype(int)
anime_df.head(5)

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...","Oct 4, 2015 to Mar 27, 2016",25,489888,141,25,9.0
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...","Oct 10, 2014 to Mar 20, 2015",22,995473,28,24,9.0
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...","Jul 7, 2017 to Sep 29, 2017",13,581663,98,23,9.0
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...","Apr 5, 2009 to Jul 4, 2010",64,1615084,4,1,9.0
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']","Jan 6, 2017",1,214621,502,22,9.0

In [212]:
# Convert the 'aired' column to datetime format
anime_df['aired'] = anime_df['aired'].str.split(' to ').str[0]  # Get the start date
anime_df['aired'] = pd.to_datetime(anime_df['aired'], format='%b %d, %Y', errors='coerce')  # Convert to datetime

# Change the format of 'aired' to dd-mm-yyyy
anime_df['aired'] = anime_df['aired'].dt.strftime('%d-%m-%Y')
anime_df.head(5)

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"['Comedy', 'Sports', 'Drama', 'School', 'Shoun...",04-10-2015,25,489888,141,25,9.0
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"['Drama', 'Music', 'Romance', 'School', 'Shoun...",10-10-2014,22,995473,28,24,9.0
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"['Sci-Fi', 'Adventure', 'Mystery', 'Drama', 'F...",07-07-2017,13,581663,98,23,9.0
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","['Action', 'Military', 'Adventure', 'Comedy', ...",05-04-2009,64,1615084,4,1,9.0
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"['Action', 'Mystery', 'Supernatural', 'Vampire']",06-01-2017,1,214621,502,22,9.0

In [213]:
# Count the number of null and non-null values
anime_df['aired'].isnull().value_counts()

aired
False    12875
True      1678
Name: count, dtype: int64

In [214]:
# Interpolate missing values in the 'aired' column using time-based interpolation
anime_df['aired'] = anime_df['aired'].interpolate(method='time')
anime_df['aired'] = anime_df['aired'].fillna(method='ffill')# Forward fill any remaining NaN values in the 'aired' column
anime_df['aired'].isnull().value_counts()

C:\Users\dheni\AppData\Local\Temp\ipykernel_788\55854124.py:2: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  anime_df['aired'] = anime_df['aired'].interpolate(method='time')
C:\Users\dheni\AppData\Local\Temp\ipykernel_788\55854124.py:3: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  anime_df['aired'] = anime_df['aired'].fillna(method='ffill')# Forward fill any remaining NaN values in the 'aired' column

aired
False    14553
Name: count, dtype: int64

In [215]:
# Clean the 'genre' column
anime_df['genre'] = anime_df['genre'].str.strip("[]").str.replace("'", "").str.split(', ').apply(lambda x: [g.lower().replace(' ', '_') for g in x])
anime_df.head(5)

,uid,title,synopsis,genre,aired,episodes,members,popularity,ranked,score
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"[comedy, sports, drama, school, shounen]",04-10-2015,25,489888,141,25,9.0
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"[drama, music, romance, school, shounen]",10-10-2014,22,995473,28,24,9.0
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"[sci-fi, adventure, mystery, drama, fantasy]",07-07-2017,13,581663,98,23,9.0
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","[action, military, adventure, comedy, drama, m...",05-04-2009,64,1615084,4,1,9.0
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"[action, mystery, supernatural, vampire]",06-01-2017,1,214621,502,22,9.0

In [216]:
# Rename the 'uid' and 'aired' columns
anime_df.rename(columns={'uid': 'anime_id', 'aired': 'released_date'}, inplace=True)

In [217]:
# Convert all column names to uppercase
anime_df.columns = anime_df.columns.str.upper()
anime_df

,ANIME_ID,TITLE,SYNOPSIS,GENRE,RELEASED_DATE,EPISODES,MEMBERS,POPULARITY,RANKED,SCORE
0,28891,Haikyuu!! Second Season,Following their participation at the Inter-Hig...,"[comedy, sports, drama, school, shounen]",04-10-2015,25,489888,141,25,9.0
1,23273,Shigatsu wa Kimi no Uso,Music accompanies the path of the human metron...,"[drama, music, romance, school, shounen]",10-10-2014,22,995473,28,24,9.0
2,34599,Made in Abyss,The Abyss—a gaping chasm stretching down into ...,"[sci-fi, adventure, mystery, drama, fantasy]",07-07-2017,13,581663,98,23,9.0
3,5114,Fullmetal Alchemist: Brotherhood,"""In order for something to be obtained, someth...","[action, military, adventure, comedy, drama, m...",05-04-2009,64,1615084,4,1,9.0
4,31758,Kizumonogatari III: Reiketsu-hen,After helping revive the legendary vampire Kis...,"[action, mystery, supernatural, vampire]",06-01-2017,1,214621,502,22,9.0
...,...,...,...,...,...,...,...,...,...,...
19002,10075,Naruto x UT,All-new animation offered throughout UNIQLO cl...,"[action, comedy, super_power, martial_arts, sh...",01-01-2011,1,34155,2382,1728,7.5
19003,35828,Miira no Kaikata,High school student Sora Kashiwagi is accustom...,"[slice_of_life, comedy, supernatural]",12-01-2018,12,61459,1648,1727,7.5
19004,10378,Shinryaku!? Ika Musume,"After regaining her squid-like abilities, Ika ...","[slice_of_life, comedy, shounen]",27-09-2011,12,67422,1547,1548,7.5
19005,33082,Kingsglaive: Final Fantasy XV,"For years, the Niflheim Empire and the kingdom...",[action],09-07-2016,1,41077,2154,1544,7.5
19006,16934,Chuunibyou demo Koi ga Shitai!: Kirameki no......,Although Yuuta Togashi and Rikka Takanashi hav...,"[comedy, drama, romance, school, slice_of_life]",19-06-2013,1,128400,883,1533,7.5

In [218]:
# Cleaned dataset information
print("Cleaned Dataset Info:")
anime_df.info()

Cleaned Dataset Info:
<class 'pandas.core.frame.DataFrame'>
Index: 14553 entries, 0 to 19006
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ANIME_ID       14553 non-null  int64
 1   TITLE          14553 non-null  object
 2   SYNOPSIS       14553 non-null  object
 3   GENRE          14553 non-null  object
 4   RELEASED_DATE  14553 non-null  object
 5   EPISODES       14553 non-null  int32
 6   MEMBERS        14553 non-null  int64
 7   POPULARITY     14553 non-null  int64
 8   RANKED         14553 non-null  int32
 9   SCORE          14553 non-null  float64
dtypes: float64(1), int32(2), int64(3), object(4)
memory usage: 1.1+ MB

In [219]:
# Save the cleaned DataFrame to a CSV file
cleaned_file_path = "C:/Users/dheni/Downloads/cleaned_anime_data.csv"  # Specify the path where you want to save the file
anime_df.to_csv(cleaned_file_path, index=False)  # Save the DataFrame without the index
print(f"Cleaned dataset saved to: {cleaned_file_path}")

Cleaned dataset saved to: C:/Users/dheni/Downloads/cleaned_anime_data.csv